.container {
  background-color: #1e293b;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f0bb03;
  font-family: Bree serif;
  font-size: 65px;
}

.description {
  color: #ffffff;
  font-family: Bree serif;
  font-size: 25px;
}

.btn-subscribe {
  font-family: Bree serif;
  font-size: 15px;
  font-weight: 600;
  font-style: bold;
  color: #1e293b;
  background-color: #ffffff;
  border-radius: 12px;
  border-style: none;
  padding: 15px;
  min-width: 120px;
}
